.BtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.Button {
  background-color: #008cba;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.Loading {
  font-size: large;
  font-weight: bold;
}
